.profile-container{
    width:90%;
    max-width:1200px;
    margin:60px auto;
}

.profile-card{
    display:flex;
    gap:50px;
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    align-items:center;
}

.profile-image{
    flex:1;
}

.profile-image img{
    width:100%;
    max-width:350px;
    height:420px;
    object-fit:cover;
    border-radius:20px;
}

.profile-details{
    flex:2;
}

.profile-details h1{
    font-size:40px;
    color:#2563eb;
    margin-bottom:10px;
}

.specialization{
    display:inline-block;
    padding:8px 18px;
    background:#dbeafe;
    color:#2563eb;
    border-radius:30px;
    margin-bottom:25px;
    font-weight:600;
}

.info-row{
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #e5e7eb;
    font-size:18px;
}

.info-row strong{
    color:#111827;
}

.info-row span{
    color:#6b7280;
}

.book-btn{
    margin-top:35px;
    padding:15px 35px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.book-btn:hover{
    background:#1d4ed8;
}

.not-found{
    text-align:center;
    margin-top:100px;
    color:red;
}

@media(max-width:900px){

.profile-card{
    flex-direction:column;
    text-align:center;
}

.info-row{
    flex-direction:column;
    gap:8px;
}

.profile-image img{
    max-width:280px;
}

}