.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
}

.login-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
}

.login-card h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

.login-card p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.login-card label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:600;
}

.login-card input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.login-card input:focus{
    border-color:#2563eb;
}

.login-card button{
    width:100%;
    margin-top:25px;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
}

.login-card button:hover{
    background:#1d4ed8;
}

.register-text{
    margin-top:20px;
}

.register-text span{
    color:#2563eb;
    cursor:pointer;
    font-weight:bold;
}
.register-link{
    color:#2563eb;
    text-decoration:none;
    font-weight:bold;
}

.register-link:hover{
    text-decoration:underline;
}