.success-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:70vh;
}

.success-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.success-card h1{
    color:#16a34a;
    margin-bottom:20px;
}

.appointment-details{
    margin:30px 0;
    text-align:left;
}

.appointment-details p{
    margin:15px 0;
}

.success-card button{
    padding:15px 30px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
}